:root {
	--purple: #93f;
}
html {
	background: black;
	color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	margin: 0 auto;
	font-family: 'Aestetico', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
}
h1 {
	font-family: 'Aestetico Informal';
	color: white;
}
h2 {
	font-family: 'Aestetico';
	font-weight: 500;
	font-size: 30px;
}

[class^='icon-'],
[class*=' icon-'] {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
}

@font-face {
	font-family: 'Aestetico Informal';
	src: url('https://cdn.prod.website-files.com/660c27bf2691b573f997545e/660d191701d841cc8d72a29e_aestetico-informal-bold.otf')
		format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aestetico';
	src: url('https://cdn.prod.website-files.com/660c27bf2691b573f997545e/660d1917f7cf9f78bf422cc5_aestetico-light.otf')
		format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aestetico';
	src: url('https://cdn.prod.website-files.com/660c27bf2691b573f997545e/660d19183c9c61d241e736f3_aestetico-medium.otf')
		format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--purple);
	border-radius: 10px;
}
