body {
	margin: 0;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: sans-serif;
}

[class^='icon-'],
[class*=' icon-'] {
	display: inline-block;
	vertical-align: middle;
}
