.container {
	height: 64px;
	margin-top: 25px;
	color: white;
	font-weight: 300;
}
.left {
	float: left;
	padding-left: 10px;
}
.right {
	float: right;
	padding-right: 10px;
}
.clear {
	clear: both;
}
