.container {
	padding: 10px;
	color: white;
	font-size: 20px;
	font-weight: 300;
	border-bottom: 1px solid var(--purple);
}
.left {
	float: left;
	padding-left: 10px;
}
.right {
	float: right;
	padding-right: 10px;
}
.clear {
	clear: both;
}
